@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');
body{
    margin: 0px;
}
a, p{
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
}
#logo{
    background-color: #0A91AB;
}
header img{
    display: block;
    margin: auto;
    width: 100px;
    padding: 20px;
}
.basetext{
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    font-weight:bold;
}
#menu{
    background-color: #FFC045;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0;
}
#menubutton{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
#menubutton:hover{
    color: #0A91AB;
    font-size: 18px;
    transition: 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
#sectiontitle{
    color:#0A91AB;
    font-size: 22px;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
#itemlist{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: stretch;
}
#videogame{
    margin: 0px;
    padding: 0px;
    margin-bottom: 1%;
    border: #FFC045;
    border-style: dotted;
    border-radius: 15px;
    border-width: 2px;
    width: 31%;
    height: 70%;
}
#gameimage{
    padding: 0;
    margin: 0%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    width: 100%;
}
#gametitle{
    text-decoration: none;
    color: #FFC045;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 0%;
    font-size: 18px;
    font-weight:bold;
    transition: 0.3s;
}
#gametitle:hover{
    text-decoration: underline;
    color: black;
    transition: 0.3s;
    cursor:pointer;
}
#gamedescription{
    margin: 2%;
    padding: 0%;
    overflow-y:hidden;
    text-align: justify;
    height: 200px;
}
#button{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
#buttontext{
    padding: 10px 20px;
    background-color: #FFC045;
    color:black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
}
#buttontext:hover{
    color: white;
    font-weight: bolder;
    transition: 0.2s;
    cursor:pointer;
}
aside{
    margin: 1%;
    margin: 1%;
}
#trickslist{
    background-color: #0A90AB25;
    width: 25%;
    height: auto;
    height: auto;
    border-style: dotted;
    border-width: 3px;
    border-radius: 15px;
    border-color: black;
}
.verticalflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#trick{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}
#tricktitle{
    text-decoration: none;
    color: #FFC045;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 0%;
    font-size: 18px;
    font-weight:bold;
}
.horizontalflex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
#newssection{
    width: 75%;
}
#news{
    margin: 0px;
    padding: 0px;
    margin-bottom: 1%;
    border: #FFC045;
    border-style: dotted;
    border-radius: 15px;
    border-width: 2px;
    width: 45%;
    height: fit-content;
    height: fit-content;
}
#date{
    padding-left: 2%;
}
#bar{
    height: 5px;
    width: 98%;
    margin: 1%;
    background-color: #FFC045;
    border: 0px;
}
#newstitle{
    text-decoration: none;
    color: #FFC045;
    margin-top: 4%;
    margin-bottom: 0%;
    font-size: 18px;
    font-weight:bold; 
    text-align: center;
    transition: 0.3s;
    transition: 0.3s;
}
#newstitle:hover{
    text-decoration: underline;
    color: black;
    transition: 0.3s;
    cursor:pointer;
}
#newsdescription{
    margin: 2%;
    padding: 0%;
    overflow-y:hidden;
    text-align: justify;
    height: 90px;
}
#newsimage{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
#newsbuttontext{
    padding: 10px 20px;
    background-color: #FFC045;
    color:black;
    text-decoration: none;
    position:relative;
    top: 50px;
    left: 80%;
    border-radius: 5px;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}
#newsbuttontext:hover{
    color: white;
    font-weight: bold;
    transition: 0.2s;
    cursor:pointer;
}
#ranking{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#usericon{
    width: 120px;
    border-radius: 100%;
}
#username{
    text-decoration: none;
    color: #FFC045;
    margin-bottom: 0%;
    font-size: 18px;
    font-weight:bold;
}
#ranking p{
    font-weight: 700;
}
#contactinfo{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    background-color: #8A8070;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    padding: 10px;
    margin: 0px;
}
footer a{
    margin: 5%;
    text-decoration: none;
    color: black;
}
#direction{
    flex-direction: column;
    align-items: end;
    font-style: italic;
    margin-top: 6%;
    padding: 1%;
    width: 100%;
    font-size: 14px;
    overflow-y:auto;
    text-align: right;
}
#copyright{
    font-size: 14px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*
GameList
*/
#gamelist{
    width: 80%;
    border: #0A91AB;
    border-width: 2px;
    border-radius: 15px;
    border-style:solid;
    margin-bottom: 20px;
}
#gameinlist{
    width: 100%;
    height: 150px;
}
#gameinlist img{
    height: 100%;
}
.verticallist{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
#maingameinfo{
    width: 60%;
}
#listtitle{
    margin-top: 2%;
    width: 100%;
}
#listbar{
    height: 2px;
    width: 100%;
    margin: 0px;
    background-color: #0A91AB;
    border: 0px;
}
#verticalbar{
    height: 100%;
    width: 1px;
    margin: 0px;
    background-color: #0a90ab65;
    border: 0px;
    
}
#maingameinfo p{
    margin-left: 2%;
    margin-right: 2%;
}
#extragameinfo{
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    margin: 0px;
    align-self: center;
}
#extragameinfo p{
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
}
#pageselector{
    width: 15%;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #0A91AB;
    margin: 50px;
}
#pageselector a{
    text-decoration: none;
    color: #0A91AB;
    margin: auto;
}
#pageselector hr{
    width: 2px;
    background-color: #0A91AB;
}
.firstimage{
    border-top-left-radius: 15px ;
}
.lastimage{
    border-bottom-left-radius: 15px ;
}
#maintitle{
    color:white;
    font-size: 28px;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
#backgroundimage{
    background-image: url(Images/CyberpunkBackground.jpeg);
    scale: 100%;
    
    width: 100%;

}