body{
    margin: 0px;
}
#logo{
    background-color: #0A91AB;
    
}
img{
    display: block;
    margin: auto;
    width: 100px;
    padding: 20px;
}
#menu{
    background-color: #FFC045;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#button{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}
#button:hover{
    color: #0A91AB;
    font-size: 18px;
    transition: 0.3s;
    
}